body, html {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    box-shadow: 1px 2px 7px grey;
}

.nav {
    display: none;
}

@media screen and (min-width: 480px){
    .menu{
        display: none;
    }

    .nav {
        display: block;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: beige;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
    }
}